@import 'tailwindcss/base';
@import './docsearch.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-display: block;
  font-family: 'GT America';
  src: url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-bold-webfont.woff2') format('woff2'),
  url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: block;
  font-family: 'GT America';
  src: url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-medium-webfont.woff2') format('woff2'),
  url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: block;
  font-family: 'GT America';
  src: url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-regular-webfont.woff2') format('woff2'),
  url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: block;
  font-family: 'GT America';
  src: url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-regular-italic-webfont.woff2') format('woff2'),
  url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-regular-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@layer base {

  body {
    @apply relative overflow-x-hidden;
  }
}
