@import '@docsearch/css';
@import './cookiepro.css';

:root {
	--shiki-color-text: theme('colors.white');
	--shiki-token-constant: theme('colors.emerald.300');
	--shiki-token-string: theme('colors.emerald.300');
	--shiki-token-comment: theme('colors.zinc.500');
	--shiki-token-keyword: theme('colors.sky.300');
	--shiki-token-parameter: theme('colors.pink.300');
	--shiki-token-function: theme('colors.violet.300');
	--shiki-token-string-expression: theme('colors.emerald.300');
	--shiki-token-punctuation: theme('colors.zinc.200');
}

@font-face {
	font-display: block;
	font-family: 'GT America';
	src: url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-bold-webfont.woff2') format('woff2'),
		url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-display: block;
	font-family: 'GT America';
	src: url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-medium-webfont.woff2') format('woff2'),
		url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-display: block;
	font-family: 'GT America';
	src: url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-regular-webfont.woff2') format('woff2'),
		url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-display: block;
	font-family: 'GT America';
	src: url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-regular-italic-webfont.woff2')
			format('woff2'),
		url('https://world-id-public.s3.amazonaws.com/docs/gt-america-standard-regular-italic-webfont.woff')
			format('woff');
	font-weight: 400;
	font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
