.feedbackPage {
  padding: 2em;
  max-width: 850px;
  margin: 0 auto;
}

.feedbackTable {
  width: 100%;
  border-collapse: collapse;
  border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
  padding: 0.5em;

  tr {
    background-color: unset !important;
    border: 0;
  }

  td {
    width: 33.3333%;
    border: 0;
    vertical-align: top;
  }
}
