/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

html,
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:root {
  --ifm-color-primary: #4940e0;
  --ifm-color-primary-dark: #3127dc;
  --ifm-color-primary-darker: #2c22d3;
  --ifm-color-primary-darkest: #2a20c6;
  --ifm-color-primary-light: #6159e4;
  --ifm-color-primary-lighter: #6860e5;
  --ifm-color-primary-lightest: #6c65e6;
  --ifm-code-font-size: 95%;
  --color-muted: #7a8a95;
  --color-text-alt: #183c4a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #8c8cf2;
  --ifm-color-primary-dark: #7b7bf0;
  --ifm-color-primary-darker: #6a6aee;
  --ifm-color-primary-darkest: #6363ed;
  --ifm-color-primary-light: #aeaef6;
  --ifm-color-primary-lighter: #bfbff8;
  --ifm-color-primary-lightest: #f3f3fe;
  --color-muted: #c6cdd2;
  --color-text-alt: #fafafa;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.input-group {
  margin-top: 16px;
  label {
    font-weight: bold;
    display: block;
  }
}

input {
  border-color: var(--ifm-color-content-secondary);
  border-radius: var(--ifm-global-radius);
  border-style: solid;
  border-width: var(--ifm-global-border-width);
  padding: 0.7rem;
  font-size: 0.85rem;
  width: 100%;
}

select {
  border-color: var(--ifm-color-content-secondary);
  border-radius: var(--ifm-global-radius);
  border-style: solid;
  border-width: var(--ifm-global-border-width);
  padding: 0.7rem;
  font-size: 0.85rem;
  width: 100%;

  // Arrow style
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.button {
  border-radius: 1000px;
  color: var(--ifm-color-primary);
}

.button--secondary {
  color: var(--ifm-color-primary) !important;
}

.button--lg {
  font-weight: normal;
}

.text--muted {
  color: var(--color-muted);
}

.text--alt {
  color: var(--color-text-alt);
}

.table--center {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
