.cookies {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container {
  background-color: #fafafa;
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  display: flex;
  vertical-align: middle;

  --shadow: 0px 2px 8px rgba(0, 0, 0, 0.04),
    0px 10px 32px rgba(37, 57, 129, 0.04);
  --shadow-colored: 0px 2px 8px var(--tw-shadow-color),
    0px 10px 32px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.wrapper {
  flex: 1 1 0%;
}

.title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  margin-bottom: 8px;
}

.link {
  margin-left: 8px;
  color: #4940e0;
  cursor: pointer;
}

.buttonContainer {
  display: grid;
  padding-top: 8px;
  padding-right: 24px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.button {
  display: grid;
  justify-content: center;
  align-items: center;
  user-select: none;
  line-height: 16px;
  cursor: pointer;
  height: 40px;
  font-size: 14px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  background: transparent;
  font-family: "Inter";
}

.button:hover {
  opacity: 0.8;
}

.buttonRed {
  border-color: #ff5a76;
  color: #ff5a76;
}

.buttonBlue {
  border-color: #4940e0;
  color: #4940e0;
}

.listOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px;
}

.listHeader {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.closeButton {
  float: right;
  cursor: pointer;
  color: rgb(203 213 225);
}

.list {
  list-style-type: disc;
  padding-left: 32px;
}

.code {
  background-color: rgb(226 232 240);
  border-radius: 2px;
  color: rgb(14 165 233);
}
